@charset "UTF-8";
/* CSS Document */  
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
img {vertical-align: middle;} 

div .container {
  position: relative;
  text-align: center;
  color: white;
}